<title><%= itemType %> Scrape</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="vendors/css/bootstrap.min.css">
<script src="vendors/js/jquery.min.js"></script>
<script src="vendors/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="styles/styles.css">

<link rel="manifest" href="manifest.json">
