<nav class="navbar navbar-inverse">
  <a class="navbar-brand custom-header-logo" href="../">
    <img alt="Brand" src="images/howtoterm.gif">
  </a>
  <ul class="nav navbar-nav">
    <li class=""><a href="account">Account</a></li>
    <li class=""><a href="/my-list">My Items</a></li>
  </ul>
    <p class="navbar-text navbar-right">Logged in as <a href="#" class="navbar-link"><%= user.displayName %></a></p>
</nav>
