<!DOCTYPE html>
<html>
  <head>
    <title>Account</title>
    <% if (process.env.SUB_APP && process.env.OUTER_APP_DIR) {%>
      <%- include(process.env.OUTER_APP_DIR+'/views/partials/head') %>
    <% } else { %>
      <% include partials/head %>
    <% } %>
  </head>
  <body>
    <% if (process.env.SUB_APP && process.env.OUTER_APP_DIR) {%>
      <%- include(process.env.OUTER_APP_DIR+'/views/partials/nav') %>
    <% } else { %>
      <% include partials/nav %>
    <% } %>

    <div class="container-fluid">
      <div id="tools" class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Tools</h3>
        </div>
          <div class="panel-body">
            <div class="btn-group">
              <a class="button btn btn-primary" href="/my-list">My Items</a>
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="/list">All Active Items</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/db/all">JSON of All</a></li>
              </ul>
            </div>
            <div class="btn-group">
              <a class="button btn btn-primary" href="/manage-scrapes">Manage my Scrapes</a>
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="/db/my-scrapes">JSON my Scrapes</a></li>
                <li><a href="/db/all-active-scrapes">JSON all Scrapes</a></li>
              </ul>
            </div>
            <div class="btn-group">
              <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Delete <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="/db/delete-my-items">Delete all my Items</a></li>
                <!-- <li><a href="/db/delete-scrapes">Delete all my Scrapes</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/db/delete-all-scrapes">Delete all Scrapes</a></li>
                <li><a href="/db/reset">Delete all Items</a></li> -->
              </ul>
            </div>
          <!-- <div class="btn-group"> -->
            <!-- TODO: Make this personal by sending the id -->
            <!-- <a class="button btn btn-primary" href="/scrape">Scrape Now</a>
          </div>
          <div class="btn-group">
            <a class="button btn btn-warning" href="/logout">Logout</a>
          </div> -->
        </div>
      </div>

      <div id="form-add-scrape" class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Add new Scrape</h3>
        </div>
        <div class="panel-body">
          <form>
            <div class="form-group">
              <label for="input-name">Scrape Name</label>
              <input type="text" class="form-control" id="input-name" placeholder="e.g. Bikes in Katmandu">
            </div>

            <div class="form-group">
              <label for="input-search-term">Search Term</label>
              <input type="text" class="form-control" id="input-search-term" placeholder="e.g. Snow Bike">
            </div>

            <div class="form-group">
              <label for="select-site">Site</label>
              <select class="form-control" id="select-site">
                <option>Craigslist</option>
                <option>Shopgoodwill</option>
                <option>KSL</option>
              </select>
            </div>

            <div class="form-group">
              <label for="select-section">Section</label>
              <select class="form-control" id="select-section">
                <option value="">All</option>
                <option value="sga">Sporting Goods</option>
                <option data-toggle="collapse" data-target="#car-slects" value="cta">Cars</option>
              </select>
            </div>
            <div class="form-group">
              <label class="sr-only" for="input-max-price">Maximum Amount (in dollars)</label>
              <div class="input-group">
                <div class="input-group-addon">$</div>
                <input type="text" class="form-control" id="input-max-price" placeholder="Max Amount">
                <div class="input-group-addon">.00</div>
              </div>
            </div>

            <div class="form-group">
             <label class="sr-only" for="input-max-miles">Max Miles from Zip (in miles)</label>
             <div class="input-group">
               <div class="input-group-addon">Max Miles from Zip</div>
               <input type="text" class="form-control" id="input-max-miles" placeholder="Amount">
             </div>
           </div>

           <div  id="car-selects" class="form-group">
            <label class="sr-only" for="input-auto-max-miles">Max Miles on Auto (in miles)</label>
            <div class="input-group">
              <div class="input-group-addon">Max Auto Miles</div>
              <input type="text" class="form-control" id="input-auto-max-miles" placeholder="Amount">
            </div>
          </div>

            <div class="form-group">
             <label for="input-send-to">Phone Number or Email address</label>
             <input type="email" class="form-control" id="input-send-to" placeholder="Email">
           </div>

           <div class="form-group">
             <label for="select-carrier">Carrier</label>
             <select class="form-control" id="select-carrier">
               <option value="">None (email)</option>
               <option value="@text.republicwireless.com">Republic Wireless</option>
               <option value="@tmomail.net">T-Mobile</option>
             </select>
           </div>

           <div class="checkbox">
            <label>
              <input checked type="checkbox" id="checkbox-send-message"> Send me messages
            </label>
          </div>
          <button type="button" id="btn-add-scrape" data-loading-text="Adding..." class="btn btn-default">Add Scrape</button>
          </form>
        </div>
      </div>
    </div>

    <script src="/js/main.js"></script>
    <% if (process.env.SUB_APP && process.env.OUTER_APP_DIR) {%>
      <%- include(process.env.OUTER_APP_DIR+'/views/partials/footer') %>
    <% } else { %>
      <% include partials/footer %>
    <% } %>
  </body>
</html>
