<!DOCTYPE html>
<html>
  <head>
    <title>Account</title>
    <% if (process.env.SUB_APP && process.env.OUTER_APP_DIR) {%>
      <%- include(process.env.OUTER_APP_DIR+'/views/partials/head') %>
    <% } else { %>
      <% include partials/head %>
    <% } %>
  </head>
  <body>
    <% if (process.env.SUB_APP && process.env.OUTER_APP_DIR) {%>
      <%- include(process.env.OUTER_APP_DIR+'/views/partials/nav') %>
    <% } else { %>
      <% include partials/nav %>
    <% } %>

    <div class="container-fluid">
      <p>
        WELCOME <%= user.displayName %>! YOU ARE LOGGED IN
      </p>
      <ul>
        <li><a href="/logout">Logout</a></li>
        <li><a href="/car">Scrape Cars</a></li>
        <li><a href="/cl">Scrape Craigslist</a></li>
        <li><a href="/item">Scrape KSL</a></li>
        <li><a href="/db/reset">Reset All</a></li>
        <li><a href="/db/all">Check All</a></li>

      </ul>
    </div>
    <% if (process.env.SUB_APP && process.env.OUTER_APP_DIR) {%>
      <%- include(process.env.OUTER_APP_DIR+'/views/partials/footer') %>
    <% } else { %>
      <% include partials/footer %>
    <% } %>
  </body>
</html>
