<!DOCTYPE html>
<html>
  <head>
    <title>Account</title>
    <% if (process.env.SUB_APP && process.env.OUTER_APP_DIR) {%>
      <%- include(process.env.OUTER_APP_DIR+'/views/partials/head') %>
    <% } else { %>
      <% include partials/head %>
    <% } %>
  </head>
  <body>
    <% if (process.env.SUB_APP && process.env.OUTER_APP_DIR) {%>
      <%- include(process.env.OUTER_APP_DIR+'/views/partials/nav') %>
    <% } else { %>
      <% include partials/nav %>
    <% } %>

    <div class="container-fluid">

        <div class="alert alert-info" role="alert">
          <strong>Welcome <%= user.displayName %>!</strong> You are logged in.
        </div>

      <!-- <ul> -->
        <!-- <li> -->
        <a class="button btn btn-primary" href="/list">List of Active</a></li>

        <a class="button btn btn-primary" href="/db/all">JSON of All</a></li>

        <!-- <li> -->
          <a class="button btn btn-primary" href="/car">Scrape Cars</a></li>
        <!-- <li> -->
          <a class="button btn btn-primary" href="/cl">Scrape Craigslist</a></li>
        <!-- <li> -->
          <a class="button btn btn-primary" href="/item">Scrape KSL</a></li>
        <!-- <li> -->
          <a class="button btn btn-danger" href="/db/reset">Reset All</a></li>
        <!-- <li> -->
        <a class="button btn btn-warning" href="/logout">Logout</a></li>

      <!-- </ul> -->
    </div>
    <% if (process.env.SUB_APP && process.env.OUTER_APP_DIR) {%>
      <%- include(process.env.OUTER_APP_DIR+'/views/partials/footer') %>
    <% } else { %>
      <% include partials/footer %>
    <% } %>
  </body>
</html>
